[submodule "UnitTests/googletest"]
	path = UnitTests/googletest
	url = https://github.com/google/googletest.git
[submodule "Benchmark/benchmark"]
	path = Benchmark/benchmark
	url = https://github.com/google/benchmark
[submodule "Documentation/doxyboot-cmake"]
	path = Documentation/doxyboot-cmake
	url = https://github.com/ivorne/doxyboot-cmake
